<a href="https://colab.research.google.com/github/ByungjunKim/CRKMLS/blob/main/%EA%B9%80%EC%9C%A4%EC%8B%9D_%EC%B9%B4%EC%9D%B4%EC%A0%9C%EA%B3%B1%EA%B2%80%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연구자 인구사회학적 정보에 따른 김윤식 인용 여부 카이제곱검정

In [ ]:
# 필요시 패키지 설치
# !pip install -U scipy statsmodels pandas

In [22]:
# 필요 패키지 로드
import pandas as pd # Pandas 
from scipy.stats import chi2_contingency # 카이제곱 검정
from statsmodels.stats.multitest import multipletests # 사후 검정
from itertools import combinations
import scipy.stats

In [2]:
df = pd.read_excel('./data/한국현대문학_연구대상_논문.xlsx')
df

,artiId,main_title,sub_title,journal,sereId,volIsseId,kor_abs,eng_abs,fola_abs,num_citation,...,발행기관 명,등재 구분,발행년,키워드(한국어),키워드(외국어),birth,gender,grad,diploma,김윤식_인용
0,ART002536712,남한 『문학』과 북한 『국어문학』 교과서에 수록된 현대문학 작품의 비교 연구 -김소...,A Comparative Study of Modern Literature Works...,구보학보,SER000003940,VOL000116990,"본 연구는 남북한 문학 교과서에 수록된 작품과 학습자의 문학 활동을 비교하여, 남북...",This study attempts to find out the orientatio...,NaN,2,...,구보학회,등재,201912,"문학 교과서, 동질성, 이질성, 비판적 사실주의 문학, 신경향파 문학, 사회주의적 ...","literary textbook, homogeneity, heterogeneity,...",69.0,남,강원대학교,박사,1
1,ART002536697,보이지 않는 포식자 -‘불멸의 혁명송가’의 발견,The Unseen Predator -The Discovery of ‘The Imm...,구보학보,SER000003940,VOL000116990,"북≪조선문학사≫의 ‘불멸의 혁명송가’는 사실의 기록일까, 혁명적 문학의 발견일까? ...",Are ‘the immortal revolutionary anthems’ in No...,NaN,1,...,구보학회,등재,201912,"불멸의 혁명송가, 김혁, 리찬, 「조선의 별」, 「김장군의 노래」, 문화정치적 목적...","the immortal revolutionary anthems, Gim Hyuk, ...",71.0,남,NaN,NaN,0
2,ART002536682,박완서의 『오만과 몽상』 연구 -정체성 문제를 중심으로,A Study on Park Wan-seo’s Proud and Fantasy -f...,구보학보,SER000003940,VOL000116990,이 글은 박완서의 『오만과 몽상』을 현과 남상의 정체성이 확립되는 과정을 통해 다시...,This paper aims to re-read Park Wan-seo’s Prou...,NaN,0,...,구보학회,등재,201912,"박완서, 『오만과 몽상』, 정체성, 족보, 선(善), 덕(德), 자기 서사","Park Wan-seo, Proud and Fantasy, identity, gen...",78.0,여,서울대학교,박사,0
3,ART002536671,1980년대와 한국영화사 담론의 접촉지대,Contact Zones in between the 1980s and the Dis...,구보학보,SER000003940,VOL000116990,이 글은 한국영화의 역사에 관한 사유가 새롭게 등장하면서 생긴 1980년대의 한 결...,This article attempts to confirm a knot of the...,NaN,0,...,구보학회,등재,201912,"1980년대, 독립영화, 한국영화사, 해금, 카프, 접촉지대","1980s, Independent Film, Korean Film History, ...",74.0,남,서울대학교,박사,1
4,ART002536636,이병주의 중․단편소설을 통해 바라본 ‘회색의 사상’ -‘법과 제도에 대한 서사’를 ...,Lee Byung-joo’s ‘gray thought’ in his novels -...,구보학보,SER000003940,VOL000116990,이병주는 그동안 ‘회색의 사상’을 가진 작가라는 모호한 표현으로 평가․이해되어왔다....,Studies about Lee Byung-joo’s novels focused o...,NaN,1,...,구보학회,등재,201912,"이병주, 회색의 사상, 반폭력, 법과 제도, 대화의 장","Lee Byung-joo, gray-thought, anti-violence, th...",90.0,남,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12726,ART001136026,상호텍스트성을 활용한 시 교육 방법 연구,The study on the education of poetry by using ...,한국문학이론과 비평,000665,VOL000000016,NaN,This thesis ie aimed at two focuses. One is to...,This thesis ie aimed at two focuses. One is to...,8,...,한국문학이론과비평학회,등재,200512,"시교육(education of poetry), 시창작교육(creation of po...",NaN,60.0,남,경북대학교,박사,0
12727,ART001234357,일제말기 김남천 문학과 만주- 미지와 공백의 기표,Namcheon Kim and Manchuria in the late Japanes...,한국문학논총,000592,VOL000000019,This article scrutinizes the works of Namcheon...,This article scrutinizes the works of Namcheon...,NaN,5,...,한국문학회,등재,200804,"김남천, 만주, 일제말기, 텅빈 기표, 이데올로기, 판타지, 이데올로기적 보충","Namcheon Kim, Manchuria, late Japanese Imperia...",71.0,여,경북대학교,박사,0
12728,ART001925578,기교주의 논쟁의 시론(詩論)적 의의,A study on the poetic significance of Manneris...,현대문학의 연구,000952,VOL000059832,"1930년대 김기림, 임화, 박용철을 중심으로 펼쳐진 기교주의 논쟁이 한국 시문학 ...","In the middle of 1930’s, Kim-kirim, Im-hwa, an...",NaN,6,...,한국문학연구학회,등재,201410,"기교주의, 김기림, 임화, 박용철, 현대시의 역사, 모더니티, 데카당, 시적 형상화...","mannerism, Kim-kirim, Im-hwa, Park-yongchul, h...",73.0,여,연세대학교,박사,0
12729,ART001065860,비체와 우울증의 정치학- 젠더의 관점으로 5․18소설 읽기,Gender Politics of Abject and Melancholia in '...,여성문학연구,001380,VOL000000012,본 논문은 비체와 우울증이론을 원용하여 5․18소설을 해석함으로써 여성주_x000D...,So called 'May 18 Novels' describe the May 18 ...,So called 'May 18 Novels' describe the May 18 ...,1,...,한국여성문학학회,등재,200706,"518소설, 비체, 비체화, 비체되기, 우울증, 우울증주체, 슬픔의 위계화, 애도,...","May 18 Novels, abject, abjection, becoming abj...",NaN,NaN,NaN,NaN,0
12730,ART001067385,오월광주 - 시의 주체 구성 메커니즘과 젠더 역학,Mechanism of Subjectivation and Gender Dynamic...,여성문학연구,001380,VOL000000012,이 글은 오월광주-시의 주체화 메커니즘을 젠더적 관점에서 접근하여 그 의 미를 규명...,Mechanism of Subjectivation and Gender Dynamic...,NaN,5,...,한국여성문학학회,등재,200706,"광주민중항쟁, 오월광주, 오월광주-시, 주체, 주체화, 젠더, 젠더 정치학","the 5.18 Gwangju Democratic Uprising, gender-p...",NaN,NaN,NaN,NaN,0

In [3]:
# 김윤식 인용 여부 (인용하면 1, 아니면 0)
df['김윤식_인용'].value_counts()

0    10557
1     2174
Name: 김윤식_인용, dtype: int64

### 1. 성별

In [4]:
# 성별 빈도
df['gender'].value_counts()

남    5927
여    5271
Name: gender, dtype: int64

In [7]:
# Continggency Table 생성
gender_kim = pd.crosstab(df['gender'],df['김윤식_인용'])
gender_kim.columns = ['김윤식_비인용','김윤식_인용']
gender_kim

        김윤식_비인용  김윤식_인용
gender
남          4785    1142
여          4435     836

In [8]:
# 카이제곱 검정
# 참고 : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html
chi2_contingency(gender_kim)

Chi2ContingencyResult(statistic=22.03810414022795, pvalue=2.6729109582950013e-06, dof=1, expected_freq=array([[4880.06251116, 1046.93748884],
       [4339.93748884,  931.06251116]]))

### 2. 최종 졸업학교

In [10]:
# 최종 졸업학교 비중
df['grad'].value_counts(normalize=True)

서울대학교                                0.156208
고려대학교                                0.136959
연세대학교                                0.082291
성균관대학교                               0.047257
서강대학교                                0.044562
                                       ...
立命館大學                                0.000096
Princeton Univ.                      0.000096
Univ. of Sussex                      0.000096
Goldsmiths  Univ. of London          0.000096
University of Southern California    0.000096
Name: grad, Length: 211, dtype: float64

In [11]:
# 서울대 졸업하면 1, 아니면 0
df.loc[df['grad']=='서울대학교','snu'] = 1
df.loc[df['grad']!='서울대학교','snu'] = 0

In [12]:
# 서울대 졸업 vs 비졸업
df['snu'].value_counts()

0.0    11108
1.0     1623
Name: snu, dtype: int64

In [13]:
# Continggency Table 생성
snu = pd.crosstab(df['snu'],df['김윤식_인용'])
snu.index = ['비서울대','서울대']
snu.columns = ['김윤식_비인용','김윤식_인용']
snu

      김윤식_비인용  김윤식_인용
비서울대     9422    1686
서울대      1135     488

In [14]:
chi2_contingency(snu)

Chi2ContingencyResult(statistic=220.65633458974975, pvalue=6.504609502081635e-50, dof=1, expected_freq=array([[9211.15042023, 1896.84957977],
       [1345.84957977,  277.15042023]]))

### 3. 세대

In [15]:
# 생년(세대) 정보 변수화
df.loc[~pd.isna(df['birth']),'birth'] = df[~pd.isna(df['birth'])]['birth'].map(lambda x:1900 + int(x))
df['birth']

0        1969.0
1        1971.0
2        1978.0
3        1974.0
4        1990.0
          ...
12726    1960.0
12727    1971.0
12728    1973.0
12729       NaN
12730       NaN
Name: birth, Length: 12731, dtype: float64

In [16]:
# 생년 세대
df.loc[~pd.isna(df['birth']),'birth_gen'] = \
pd.cut(df.loc[~pd.isna(df['birth']),'birth'],bins=[1900,1940,1950,1960,1970,1980,1990,2000],labels=['40년생 이전','40년대생','50년대생','60년대생','70년대생','80년대생','90년생 이후'],right=False)

In [17]:
df['birth_gen'].value_counts()

70년대생      4312
60년대생      4217
50년대생      1285
80년대생      1081
40년대생       181
90년생 이후      48
40년생 이전      14
Name: birth_gen, dtype: int64

In [18]:
# Continggency Table 생성
birth = pd.crosstab(df['birth_gen'],df['김윤식_인용'])
birth = birth[1:]
birth.columns = ['김윤식_비인용','김윤식_인용']
birth

           김윤식_비인용  김윤식_인용
birth_gen
40년대생          147      34
50년대생         1058     227
60년대생         3578     639
70년대생         3501     811
80년대생          847     234
90년생 이후         34      14

In [19]:
chi2_contingency(birth)

Chi2ContingencyResult(statistic=38.54455979065082, pvalue=2.932668411199729e-07, dof=5, expected_freq=array([[ 149.12486516,   31.87513484],
       [1058.70415318,  226.29584682],
       [3474.36218986,  742.63781014],
       [3552.63214671,  759.36785329],
       [ 890.62971953,  190.37028047],
       [  39.54692557,    8.45307443]]))

In [24]:
# 2개씩 짝지어 사후검정(Bonferroni)
# 참고 : https://www.kaggle.com/code/satyads/anova-tukey-chi-square-bonferroni-pearson-lasso/notebook#Chi-Square-Test-of-Significance
# Store p-values of each pair of month
p_vals_chi = []
pairs_of_birth = list(combinations(birth.index.tolist(),2))

#For Each Pair of Months compute Chi Square Stats
for each_pair in pairs_of_birth:
    each_df = df[(df['birth_gen']==each_pair[0]) | (df['birth_gen']==each_pair[1])]
    p_vals_chi.append(\
          scipy.stats.chi2_contingency(
            pd.crosstab(each_df['birth_gen'], each_df['김윤식_인용']))[1]
         )
         
#Results of Bonferroni Adjustment
bonferroni_results = pd.DataFrame(columns=['pair of months',\
                                           'original p value',\
                                           'corrected p value',\
                                           'Reject Null?'])

bonferroni_results['pair of months'] = pairs_of_birth
bonferroni_results['original p value'] = p_vals_chi

#Perform Bonferroni on the p-values and get the reject/fail to reject Null Hypothesis result.
multi_test_results_bonferroni = multipletests(p_vals_chi, method='bonferroni',alpha=0.01)

bonferroni_results['corrected p value'] = multi_test_results_bonferroni[1]
bonferroni_results['Reject Null?'] = multi_test_results_bonferroni[0]
bonferroni_results

      pair of months  original p value  corrected p value  Reject Null?
0     (40년대생, 50년대생)      7.912171e-01           1.000000         False
1     (40년대생, 60년대생)      2.211488e-01           1.000000         False
2     (40년대생, 70년대생)      1.000000e+00           1.000000         False
3     (40년대생, 80년대생)      4.394102e-01           1.000000         False
4   (40년대생, 90년생 이후)      1.701673e-01           1.000000         False
5     (50년대생, 60년대생)      3.389360e-02           0.508404         False
6     (50년대생, 70년대생)      3.766456e-01           1.000000         False
7     (50년대생, 80년대생)      1.715205e-02           0.257281         False
8   (50년대생, 90년생 이후)      6.549034e-02           0.982355         False
9     (60년대생, 70년대생)      8.047879e-06           0.000121          True
10    (60년대생, 80년대생)      3.608289e-07           0.000005          True
11  (60년대생, 90년생 이후)      1.315693e-02           0.197354         False
12    (70년대생, 80년대생)      3.860277e-02           0.579041         False
13  (70년대생, 90년생 이후)      1.016548e-01           1.000000         False
14  (80년대생, 90년생 이후)      2.922381e-01           1.000000         False